@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Bengali:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter;
}

@layer utilities {
  .btn_white {
    @apply border-white bg-white px-8 py-3 text-gray-50;
  }
  .btn_white_text {
    @apply border-white bg-white px-8 py-3 text-gray-900;
  }
  .btn_green {
    @apply border-green-500 bg-green-500 px-8 py-5 text-white;
  }
  .btn_dark_green {
    @apply bg-green-950 px-8 py-4 text-white transition-all hover:bg-black;
  }
  .btn_dark_green_outline {
    @apply border-gray-200 bg-green-900 px-8 py-5 text-white;
  }
}

.custom-font {
  font-family: "Noto Serif Bengali", serif;
}
